div{
    width: 200px;
    height: 200px;
    padding: 50px 10px 30px 50px;
    background-color: salmon;
    margin: 10px;


}

body{
    margin: 0px;
}

#one{
    background-color: salmon;
}

#two{
    background-color: lightseagreen;
    /*border: 5px solid blue;*/
    border-width: 10px;
    border-style: dashed;
    border-color: plum;
    box-sizing: border-box;
    padding: 5px;
}

#three{
    background-color: mediumspringgreen;
}


button{
   padding: 30px;
    margin: 20px;
}




