/*#para{*/
/*    background: darkblue; !* due to the placement of my stylesheet this will take precedence *!*/
/*}*/
/*h1{*/
/*    color: red;*/
/*}*/

/*select element by element name*/
h1{
    color: cornflowerblue;
    text-align: center;
}
/*select element by id*/
#header2{
    color: magenta;
}

#header4{
    color: gold;
}


/*select element by class*/
.content{
    background: orange;
}

/*multiple selectors*/
h1, #header2{
    font-weight: lighter;
}


.hTags{
    background: peachpuff;
}
/*Descendent selectorr*/
#container h1{
    background: palevioletred;
}
/*Direct Child selector*/
#container>h1{
    background: purple;
}

a:link{
    color:red;
}

a:visited{
    color: fuchsia;
}

a:hover{
    color:greenyellow;
}

p{
    font-family:Baghdad;
    font-style: italic;
    font-size: 39px;
}

em{
    border: inherit;
}