* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    display: flex;
    background-color: gray;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: auto;

}

.logo{
    padding-left: 375px;
    padding-right: 375px;
}

 a {

    text-decoration: none;
    color: black;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}

 a:hover{
     text-decoration: underline;
     color: blue;
 }
/*the only things i need are *,nav,.logo,ul,a, a:hover