*{

    font-weight: bold;
    color: darkslateblue;
}

h1{
    color: fuchsia;
    text-align: center;
}
.begin{
    color: khaki;
    text-align: center;
}
h2{
    color: palegreen;
}
.col-lg-3{
    text-align: center;
}